body {
	background-color:#f1f1f1;

}

p {
	color:black;

	font-family:"Comic Sans MS", Verdana, Sans-serif
	/*change*//*change*//*change*//*change*//*change*//*change*//*change*//*change*//*change*/
	font-size: 12px
}


#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: ##0d0d0d;
}

#menu ul li { 
	display: inline-block;
	float: left;	
	padding: 16px;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: #ffffff;
}

/* Change the link colors in different situations*/

/* unvisited link */
a:link {
    color: #66a3ff;
}

/* visited link */
a:visited {
    color: #ffb3cc;
}

/* mouse over link */
a:hover {
    color: #ff0000;
}

/* selected link */
a:active {
    color: #b3b3b3;
}


img {
	float: right;
}

